<!--
template: theTrgNoteAppObject
description: wip...
-->
<template name="renderChildren">
  <ul class="">
    {{#each list }}
      {{> uiGetGraphic }}
    {{/each }}
  </ul>
</template>

<!--
template: noTemplate
description: wip...
-->
<template name="noTemplate">
  <div class="ui negative tiny icon message">
    <i class="exclamation triangle icon"></i>
    <div class="content">
      <div class="header">Template Error</div>
      <p>No template was assigned for the ui of object <span class="ui basic small label">{{ this._info.type }}</span></p>
    </div>
  </div>
</template>
