<template name="noTemplate">
  <div class="ui negative tiny icon message">
    <i class="exclamation triangle icon"></i>
    <div class="content">
      <div class="header">Template Error</div>
      <p>No template was assigned for the ui of object <span class="ui basic small label">{{ this._info.type }}</span></p>
    </div>
  </div>
</template>

<template name="brainstorm">
  <li id="{{ id }}" class="item">
    <!-- Render an object set to the property of the data. -->
    {{child "usageMeter" }}

    <!-- Render an aliased child object by it's key/alias name. -->
    {{prop "signUpForm" }}

    <!-- Render a list of child object. -->
    {{children }}

    <div>
      <b>time:</b> {{bind "time" }}
    </div>

    <button class="ui button" data-method="someMethod"></button>

    <img class="ui avatar image" src="{{ image }}">
    <div class="content">
      <div class="header">{{ name }}</div>
      <div class="description">{{{ description }}}</div>
    </div>
  </li>
</template>
